<div class="container">
  <form *ngIf="!loggedIn" #AdminLoginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        name="username"
        id="username" [(ngModel)]="model.username"
        class="form-control me-2" type="text" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" [(ngModel)]="model.password" name="password"
             class="form-control me-2" type="password" placeholder="Enter password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </div>
  </form>

  <div *ngIf="loggedIn" class="d-flex justify-content-center align-items-center flex-column">
    <h1>
      You Are Already Logged In.
    </h1>
    <a routerLink="/Admin" class="btn btn-outline-success" type="submit">Go To Admin Dashboard</a>
  </div>
</div>
