.horizontalDivider {
  background: #ccc;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 100%;
}
.nav-right{
  width: 24%;
}

/* negm test  */

.dropdown-toggle , .dropdown-item{
  cursor: pointer;
}
.navBG{
  background-color: #1c3847;
  color: white;
}



@media (max-width:576px) {
  .navBG{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
  }

  .btn-collapse-container{
    width: 50%;
    position: absolute;
    left: 10px;

  }
}

