.horizontalDivider {
  background: #ccc;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 100%;
}
.nav-right{
  width: 40%;
}


/* negm test  */

.dropdown-toggle , .dropdown-itme{
  cursor: pointer;
}





