<nav class="navbar navbar-expand-md navBG" style="height: 65px;">
  <div class="container d-flex justify-content-end">
    <!-- <div>
      <img src="../../../../../favicon.ico" alt="logo" class="logo-img"/>
      <a class="navbar-brand text-white" href="/Admin">{{Title}}</a>
    </div> -->
    <div class="dropdown" *ngIf="loggedIn" dropdown>
      <a class="dropdown-toggle text-white text-decoration-none" dropdownToggle>Welcome Admin</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

