.sidebar-routes li a{
  cursor:  pointer;
  padding-left: 10px;
  border: 0;
  text-align: left!important;
  border-radius: 5px;

}
.sidebar-routes li a:hover{
  background-color: #C1D4D4;

}

.active{
  background-color: #E3EAEE;
  color: #022034;
  border: 0;
  text-align: start!important;

}

.sidebar{
  background-color:  #022034!important;
  color: white;
  height: 100vh;
  /* width: 100%; */
  position: fixed;
}

@media (max-width:768px) {
  .sidebar{
    width: 100%!important;
    margin-top: 50px;
    position: relative!important;
    height: auto!important;
  }
}
