.sidebar-routes li a{ 
  cursor:  pointer;
  padding-left: 10px;
  border: 0;
  text-align: left!important;
  border-radius: 5px;

} 
.sidebar-routes li a:hover{
  background-color: #C1D4D4;

}

.active{
  background-color: #C1D4D4;
  border: 0;
  text-align: start!important;

}