.patient-illnesses p{
  color: #8DA9BC;

}

.patient-illnesses{
  background-color: #E1EAED!important;
  height: 100%;
}

@media (max-width:576px) {
  .patient-illnesses {
    margin-top: 20px;
  }
}

