<div class="d-flex flex-wrap">
    <div class="card m-2 p-3" *ngFor="let specialization of illnesses">
      <div class="card-body">
        <h5 class="card-title"><b>Specialization: {{getSpecializationName(specialization.specialization) }}</b></h5>  
        <ul>
          <li *ngFor="let issue of specialization.diagnosedIssues">
            <h6>Issue: {{ issue.name }}</h6>
            <ul>
              <li *ngFor="let appt of issue.appointments">
                <p class="card-text">Date: {{ appt.date |date:"yyyy-mm-dd"}}</p>
                <p class="card-text">Comment: {{ appt.comment }}</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>