/*.AdminViews{*/
/*  border: 2px solid red;*/
/*}*/
.disabled-link {
  color: gray;
  pointer-events: none;
  text-decoration: none;
  cursor: default;
}

@media (min-width: 992px) {
  .dashBoardSide{
    width : 280px;
  }
}

 @media (max-width: 768px) {
  .AdminViews{
    max-width:  100vw;
    overflow-x: scroll;
  }
  .AdminViews::-webkit-scrollbar
  {
    height: 6px;
    background-color: #F5F5F5;
  }
}

