<app-nav></app-nav>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12" style="height: 500px;">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary dashBoardSide">
        <!-- <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Admin</span>
        </a> -->
        <div>
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none " data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Negm</strong>
          </a>
        </div>
        <hr>
        <h3 class="mb-3">Drugs</h3>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/GetAllDrugs" class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              List all drugs
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a routerLinkActive="active" routerLink="/GetDrug"  class="nav-link disabled-link" aria-current="page">-->
<!--              <svg class="bi pe-none me-2" width="16" height="16"></svg>-->
<!--              Get drug by id-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/AddDrug" class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Add new drug
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a routerLinkActive="active" routerLink="/UpdateDrug" class="nav-link disabled-link" aria-current="page">-->
<!--              <svg class="bi pe-none me-2" width="16" height="16"></svg>-->
<!--              Update drug by id-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/AddIssue" class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Add Issue
            </a>
          </li>
        </ul>
        <hr>
        <h3 class="mb-3">Doctors/Licenses</h3>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/GetAllDoctors" class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              List all doctors
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/AddLicense"  class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Add license
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a routerLinkActive="active" routerLink="/RemoveDoctorLicense"  class="nav-link disabled-link" aria-current="page">-->
<!--              <svg class="bi pe-none me-2" width="16" height="16"></svg>-->
<!--              Delete doctor license-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <hr>
      </div>
    </div>

    <div class="offset-lg-1 col-lg-9 col-md-12 col-sm-12 AdminViews scroll">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<app-footer></app-footer>
