.myTableColor{
  background-color: #1c3847;
  border: #90E0EF;
  color: #90E0EF;
  text-align: center;
}

.myTableColor th{
  color: white;
}

table.myTableColor tbody tr:hover {
  background-color: #00B4D8;


}
table.myTableColor tbody tr:hover td{
  color: #1c3847;
}

@media (max-width:576px) {
  table.myTableColor{
    margin-top: 50px;
    width: 100%;
    padding: 0!important;
  }
}

