<form class="register-form form px-3  scroll" #Form = "ngForm" (ngSubmit) = "SubmitData()">

  <!-- * name -->
    <div class="mb-3">
      <label for="name" class="form-label"> Username</label>
      <input #fname="ngModel" [(ngModel)]="RegisterData.name"  type="text"  class="form-control" id="name" name="name" required >
      <div [hidden]=" fname.valid || fname.untouched" class=" text-danger py-1">
        Name is Required
      </div>
    </div>

    <!-- * email -->
    <div class="mb-3">
      <label for="email"  class="form-label">Email address</label>
      <input #emailRef="ngModel" name="email"  [(ngModel)]="RegisterData.email" type="email" class="form-control" id="email" required pattern="[a-zA-Z0-9]{1,}@[a-zA-Z]{3,}.[a-zA-Z]{3,4}"  >

      <div [hidden]="emailRef.valid || emailRef.untouched" class="text-danger py-1">
        <span [hidden]="!emailRef.errors?.['required']"> Email is Required <br></span>
        <span [hidden]="!emailRef.errors?.['pattern']"> Please Enter Valid Email </span>
      </div>

    </div>

    <!-- * Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input #password="ngModel" [(ngModel)]="RegisterData.password" type="password" class="form-control" id="password"  name="password"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}" required>

      <div [hidden]="password.untouched || password.valid" class="text-danger py-1">
        <span [hidden]="!password.errors?.['required']"> Password is Required <br></span>
        <span [hidden]="!password.errors?.['pattern']"> Password is too short! It should be more than 8 Characters  </span>
      </div>
    </div>

    <!-- * NationalID -->
    <div class="mb-3">
      <label for="nationalID" class="form-label">National ID</label>
      <input #nationalID="ngModel" [(ngModel)]="RegisterData.nationalID" type="text" class="form-control" id="nationalID" pattern="[0-9]{14}" required name="nationalID">

      <div [hidden]="nationalID.untouched || nationalID.valid" class="text-danger py-1">
        <span [hidden]="!nationalID.errors?.['required']"> National ID is Required <br></span>
        <span [hidden]="!nationalID.errors?.['pattern']"> National ID is not valid  </span>
      </div>
    </div>

    <!--* *********** Doctor ************ -->

    <!-- Doctor License -->
    <div class="mb-3" *ngIf="isRoleDoctor">
      <label for="license" class="form-label">License ID</label>
      <input #LicenseRef="ngModel" [(ngModel)]="RegisterData.license" type="text" class="form-control" id="license" required name="license">

      <div [hidden]="LicenseRef.untouched || LicenseRef.valid" class="text-danger py-1">
        <span [hidden]="!LicenseRef.errors?.['required']"> License ID is Required <br></span>
      </div>
    </div>

    <div class="mb-3" *ngIf="isRoleDoctor">
      <label  class="form-label">Specialization</label>

      <div class="col-sm-12 col-lg-12">
        <select class="form-control" [(ngModel)]="RegisterData.specialization" name="specialization">
          <option  [value]="index" *ngFor="let spec of getAllSpecialization() ; let index = index" class="form-control"> {{spec}} </option>

        </select>
      </div>

    </div>
    <!--* *********** end Doctor ************ -->


    <!-- * Mobile -->
     <div class="mb-3">
      <label for="mobile" class="form-label">Mobile</label>
      <div class="input-group">
        <span class="input-group-text" id="area-code">+20</span>
        <input #mobile="ngModel" [(ngModel)]="RegisterData.mobile" type="text" class="form-control" id="mobile" aria-describedby="area-code" pattern="[0-9]{10}" name="mobile" required>

      </div>

      <div [hidden]="mobile.untouched || mobile.valid" class="text-danger py-1" >
        <span [hidden]="!mobile.errors?.['required']"> Mobile is Required <br></span>
        <span [hidden]="!mobile.errors?.['pattern']"> Mobile is not valid  </span>
      </div>
    </div>


    <!-- * Age -->
    <div class="mb-3" *ngIf="!isRoleDoctor">
      <label for="age" class="form-label">Age</label>
      <input #age="ngModel" [(ngModel)]="RegisterData.age" type="number" min="0" max="200" class="form-control" id="age" required name="age">
    </div>


    <!-- * Gender -->
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Gender" id="Female"  [(ngModel)]="gender" value="Female">
        <label class="form-check-label" for="Female">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Gender" id="Male" [(ngModel)]="gender"  value="Male">
        <label class="form-check-label" for="Male">Male</label>
      </div>
    </div>

    <button
      [disabled]="Form.invalid"
      type="submit"
      class="btn btn-primary float-end btn-submit px-4"

    > Submit</button>

  </form>
