

<div class="container-fluid">
  <lib-toastify-toast-container>
    [position]="top-left"

  </lib-toastify-toast-container>
  <div class="row">
    <!--* Login Image -->
    <div class="col-lg-6 col-xs-12 image-container p-0">

      <a routerLink="/Home" class="logo fs-4">
        <img src="../../../../favicon.ico" alt="logo" class="logo-img"/>
        <span>Saleem</span>

      </a>
      <img src="../../../../assets/Images/Login/login2.jpg" alt="login-image" class=""/>
    </div>

    <!--* Forms container -->
    <div class="col-lg-6 col-xs-12 p-0 d-flex justify-content-center ">
      <div class="forms-container position-relative">
        <!-- add Authentication Header Component-->
        <app-AuthHeader (ActiveFormEvent) = "GetActiveForm($event)"></app-AuthHeader>

        <div class="form-model mt-3 ">

          <!-- add Authentication Header Component-->
          <!-- Active Form Container-->

          <div class="d-flex flex-column w-75  mx-auto" *ngIf="!ActorClicked">
            <h2 class="pb-5 pt-3 text-center"> Enter Your Role </h2>
            <button class="btn btn-role fs-4 w-75 mx-auto " (click)="PatientLoginHandler()">
              As Patient
            </button>

            <button class="btn btn-role w-75 mx-auto fs-4 my-4"  (click)="DoctorLoginHandler()">
              As Doctor
            </button>
          </div>

          <!--* Login Form-->
          <div *ngIf="showLoginForm && ActorClicked ">
            <app-LoginForm></app-LoginForm>
          </div>

          <!--* Register Form-->
          <div *ngIf="showRegisterForm && ActorClicked">
            <app-RegisterForm></app-RegisterForm>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
