<div class="row profile-details bg-light">
  <div class="col-md-5 col-sm-12 bg-white py-4 px-1 profile-img-container ">
    <div class="profile d-flex flex-column align-items-center">
      <img src="../../../../assets/Images/profile.png"  alt="profile" class="profile-img"/>
      <h6 class="mt-4"> zeze mahmoud</h6>
      <p class=""> z@email.com</p>
      <a class="btn btn-primary btn-edit"> Edit Profile</a>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 bg-white py-4 profile-data-container">
    <div>
      <h6>Gender</h6>
      <p> Female</p>
    </div>
    <hr>
    <div>
      <h6>Phone Number</h6>
      <p> (+20)11458564</p>
    </div>
    <hr>
    <div>
      <h6>National Id</h6>
      <p> 1126458945158</p>
    </div>
  </div>

</div>