<div class="container my-5">
  <table class="table table-hover tableScroll" style="height:500px">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Method of taking</th>
        <th scope="col">Details</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let drug of drugs">
        <td>{{drug.id}}</td>
        <td>{{drug.name}}</td>
        <td>{{drug.method}}</td>
        <td><a routerLink="/getDrug/{{drug.id}}" class="btn btn-sm btn-secondary">Details</a></td>
        <td><a routerLink="/UpdateDrug/{{drug.id}}" class="btn btn-sm btn-primary">Update</a></td>
        <td><a (click)="delete(drug.id)" class="btn btn-sm btn-danger">Delete</a></td>
        <!-- <td><a class="btn btn-sm btn-dark">Update</a></td>
        <td><a class="btn btn-sm btn-danger" (click)="delete(drug.id)">Delete</a></td> -->
      </tr>
    </tbody>
  </table>
</div>
