<app-nav></app-nav>

<div class="container my-5" style="height:500px">
    <h1>Patient history</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment with Dr. Ahmed (Dermatology)</h5>
            <p class="card-text">Patient issues: Acne, dry skin</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment with Dr. Fatma (Pediatrics)</h5>
            <p class="card-text">Patient issues: Cough, fever</p>
          </div>
        </div>
      </div> <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment with Dr. Fatma (Pediatrics)</h5>
            <p class="card-text">Patient issues: Cough, fever</p>
          </div>
        </div>
      </div> <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment with Dr. Fatma (Pediatrics)</h5>
            <p class="card-text">Patient issues: Cough, fever</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment with Dr. Mohamed (Cardiology)</h5>
            <p class="card-text">Patient issues: High blood pressure, chest pain</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>