<!-- <app-patient-dashboard></app-patient-dashboard> -->



<div class="w-100 p-0 m-0 flex-column d-flex" >

  <h2 class="text-center my-5"> View Profile </h2>
  <div class="alert alert-danger w-75 mx-auto" *ngIf="!dataLoaded">
    Can't load Patient Data ❌
  </div>
  <div class="row h-50 top-container mx-0" >
    <!-- view patient details -->
    <div class="col-md-7 col-sm-12">
      <patient-details (dataIsLoaded) ="checkLoadedHandler($event)"></patient-details>
    </div>

    <!-- view patient illnesses -->
    <div class="col-md col-sm-12">
      <patient-illnesses></patient-illnesses>
    </div>

  </div>



</div>


