<div class="container my-5" style="min-height:500px">
  <div class="row d-flex align-items-center justify-content-between">
    <h1 class="text-center pb-3">Patient history</h1>

  </div>

  <div class="row d-flex row-cols-md-3 g-4 justify-content-between" style="padding: 10px; margin-top: 5px; margin-top: 5px;">
    <a class="btn btn-outline-primary " (click)="AddNewPatient()" >New Patient</a>
    <a class=" btn btn-outline-primary py-1" (click)="navigateToAdd()" role="button">Add Appointment</a>
    <a class=" btn btn-outline-primary py-1" (click)="navigateToIssues()" role="button">All Issues</a>

    <a class="btn btn-outline-danger py-1" (click)="showFilter = !showFilter" role="button">Filter</a>
    <div *ngIf="showFilter">
      <label>Filter by specialization:</label>
      <select [(ngModel)]="selectedSpecialization" (change)="filter()">
        <option value="">--Select Specialization--</option>
        <option *ngFor="let specNum of keys(Specialization)" [value]="specNum">{{getSpecializationDescription(+specNum)}}</option>
      </select>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
    <div class="col" *ngFor="let appointment of filteredAppointments">
      <div class="card pb-3 shadow card-hover" (click)="navigateToDetails(appointment)">
        <h5 class="card-header">Appointment with Dr. {{ appointment.doctorName }}</h5>
        <div class="card-body">
          <div class="card-text">
            Date: {{ appointment.date | date:'short' }}<br>
            Comment: {{ appointment.comment }}<br>
            Specialization: {{ getSpecializationDescription(appointment.specialization) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
