.card{
  /* height: 125px; */
  /* max-height: 125px; */
  overflow: hidden;
  /* background-color: #1C3847; */
  /* color: aliceblue; */
}

.appointments{
  height: 100px;
}

.btn{
  width: 150px;
  margin: 10px;
}
