
.btn-collapse{
  cursor: pointer;
  color: #327295;
}

.dahboard-nav{
  background-color:  white!important;
  /* color: white; */
  padding-bottom: 20px;
  height: 65px;
  /* box-shadow: 2px 3px 5px rgb(186, 186, 186); */
}

.doc-sidebar{
  background-color:  #022034!important;

}


@media (max-width:768px) {
  .dahboard-nav{
    position: absolute;
    width: 100%;
    top: 0;
  }

.router-outlet-container{
  margin-top: 120px;
}
}


@media (min-width:768px) {
  .dashboard-content{
    position:relative;
  }
}
