.horizontalDivider {
  background: #ccc;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 100%;
}

.auth-contanier{
  min-width: 40%

}

@media (max-width:576px) {
  .auth-contanier{
    width: 100% !important;;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }
  .auth-contanier button{
    margin-bottom: 20px;
  }
}
@media (max-width:991px) {
  .auth-contanier{
   min-width: 50%;
   margin-top: 20px;
  }
}
