.horizontalDivider {
  background: #ccc;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 100%;
}
/*
.button-1 {
  /* align-items: center;
  text-align: center;
  appearance: none;
  color: #3c4043;
  /* display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  /* justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  /* max-width: 100%;
  padding: 2px 24px;
}
.button-2 {
  /* align-items: center;
  text-align: center;
  appearance: none;
  color: #3c4043;
  /* display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: normal;
  /* max-width: 100%;
  padding: 2px 24px;

  background-color: #00B4D8;
  border-radius: 24px;
}
.button-1:hover {
  background-color: #ccc;
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
  overflow: visible;
  position: relative;
  text-transform: none;
  z-index: 0;
}
.nav-right{
  width: auto;

}
 */







