<div class="dahboard row h-100 m-0">
  <div class="col-md-3 col-sm-12 shadow p-0" [hidden]="isCollapsed">
    <app-patient-sidebar></app-patient-sidebar>
  </div>

  <div class="col-md col-sm-12 dashboard-content bg-light p-0">
    <div class="w-100 bg-white p-3">
      <i class="fa-solid fa-list btn-collapse" (click)="isCollapsed = !isCollapsed "></i>

    </div>
    <router-outlet></router-outlet>
  <!-- <div > -->
    <!-- content -->
    <!-- <app-doctor-cards class="col-md col-sm-12 dashboard-content"></app-doctor-cards>
  </div> -->


</div>
