<div class="dahboard row h-100 m-0">
  <div class="col-md-3 col-sm-12 shadow p-0" [hidden]="isCollapsed">
    <app-patient-sidebar></app-patient-sidebar>
  </div>

  <div class="col-md col-sm-12 dashboard-content bg-light p-0">
    <div class="w-100 bg-white py-2" style="height: 50px;">

      <i class="fa-solid fa-list btn-collapse" (click)="isCollapsed = !isCollapsed "></i>

      <div class="mx-3 float-end pb-2"  ngbDropdown>
        <button
          class="btn btn-outline-primary me-2"
          id="dropdownManual"
          ngbDropdownToggle
        >
          <img src="../../../../assets/Images/profile.png" alt="Profile" class="w-30 h-30"/>
          <h6 class="d-inline-block px-3 "> {{username}} </h6>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="w-100 border-0 bg-white">
          <button ngbDropdownItem class="px-1 text-danger w-100" (click)="logout()" >Sign Out</button>

        </div>

      </div>

    </div>
    <router-outlet></router-outlet>
  <!-- <div > -->
    <!-- content -->
    <!-- <app-doctor-cards class="col-md col-sm-12 dashboard-content"></app-doctor-cards>
  </div> -->


</div>
