<header>
  <!-- <nav class="navbar navbar-expand-md navbar-white myColor">blue colored nav fixed-top -->
   <nav class="navbar navbar-expand-md navbar-white bg-white"> <!--white colored nav fixed-top-->
    <div class="container">
          <a class="navbar-brand" href="#">{{Title}}</a>
          <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active button-1">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item button-1 ">
                <a class="nav-link" href="#">Donate</a>
              </li>
              <li class="nav-item button-1 ">
                <a class="nav-link" href="#" routerLink="/Login" routerLinkActive="router-link-active" >Login</a>
              </li>
              <li class="nav-item button-2">
                <a class="nav-link" href="#">Sign up</a>
              </li>
            </ul>
          </div>
    </div>
  </nav>
  <div class="horizontalDivider"></div>
</header>
