
<div class="container" style="margin: 5px">
  <div class="row" style="padding-bottom: 20px; padding-top: 30px;">
    <h1>Prescription</h1>
  </div>

  <div class="row">

    <div class="col">
      <p><strong>Doctor Name:</strong></p>
      <p>{{ appointment.doctorName }}</p>
    </div>

    <div class="col">
      <p><strong>Current Date:</strong></p>
      <p>{{ appointment.date  }}</p>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <label for="issues"><strong>Issues:</strong></label>
      <p>{{ appointment.diagnosedIssues }}</p>
    </div>

    <div class="col">
      <label for="Comment"><strong>Comment</strong></label>
      <p>{{ appointment.comment }}</p>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <label for="suggestedDrugs"><strong>Suggested Drugs:</strong></label>
      <p>{{ appointment.describedDrugs }}</p>
    </div>

    <div class="col">
      <label for="specialization"><strong>Specialization:</strong></label>
      <p>{{ getSpecializationDescription(appointment.specialization) }}</p>
    </div>

  </div>

  <div class="row" style="padding-top: 20px;">
    <a class="btn btn-primary" (click)="goBack()" style="width: 200px;">Back To List</a>
  </div>

</div>

