<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="Drug.name">
</div>
<div class="form-group">
  <label for="name">Method of taking</label>
  <input type="text" class="form-control" id="method" [(ngModel)]="Drug.method">
</div>
<div class="d-grid justify-content-center align-items-center grid">
  <div class="row">
    <h4>Treated Issues</h4>
    <div class="col-4" *ngFor="let issue of Issues?.length > 0 && Issues">
      <input id="t-{{issue.id}}" type="checkbox" name="{{issue.name}}" [value]="issue.id "
             (change)="onTreatedCheck($event, issue.id)">
      <label>{{issue.name}}</label>
    </div>
    <h4>Conflicted Issues</h4>
    <div class="col-4" *ngFor="let issue of Issues?.length > 0 && Issues">
      <input id="c-{{issue.id}}" type="checkbox" name="{{issue.name}}" [value]="issue.id"
             (change)="onConflictedChecked($event, issue.id)">
      <label>{{issue.name}}</label>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary my-3" (click)="AddDrug()">Add drug</button>
