<app-nav></app-nav>

<div class="container my-5" style="height:500px">
    <h1 class="text-center mb-5">Patient Issues Form</h1>
    <form   (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Select patient issues:</label>
            <div class="form-check" *ngFor="let issue of issues">
                <input class="form-check-input"  name="{{issue.name}}"  type="checkbox" [(ngModel)]="issue.selected"  >
                <label class="form-check-label">{{ issue.name }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Doctor's Comment:</label>
            <textarea class="form-control" id="comment" rows="3" name="comment" [(ngModel)]="doctorComment"></textarea>
        </div>

        <button type="submit"   class="btn btn-primary">Submit</button>
    </form>
</div>

<app-footer></app-footer>


