.sidebar-routes li a{
  cursor:  pointer;
  padding-left: 10px;
  border: 0;
  text-align: left!important;
  border-radius: 5px;

}
.sidebar-routes li a:hover{
  background-color: #C1D4D4;
  color: #022034!important;

}
.sidebar-routes li a:hover i{
  color: #022034!important;

}

.active{
  background-color: #C1D4D4;
  color: #022034!important;
  border: 0;
  text-align: start!important;
}
.active i{
  color: #022034!important;

}

.sidebar{
  background-color:  #022034!important;
  width: auto;
  color: white;
  height: 100vh;
  margin-top: 0;
  position: fixed;
}

.disabled-link {
  color: gray;
  pointer-events: none;
  text-decoration: none;
  cursor: default;
}

.disabled-link i{
  color: gray;

}




@media (max-width:768px) {
  .sidebar{
    width: 100%!important;
    position: relative!important;
    height: auto!important;
  }

}

@media (min-width:768px) and (max-width:991px){
  .sidebar{
    width: 100%!important;
    position: relative!important;
    /* height: auto!important; */
  }

}

@media(min-width:768px) {
  .dashboard-content{
    position: relative!important;
  }
}
