
<div class="container my-5">
    <h1 class="text-center mb-5"> Add New Appointment</h1>
    <form (ngSubmit)="onSubmit()" class="shadow p-3">
        <div class="form-group"  style="padding: 10px;">
            <label class="h5 p-4">Select patient issues:</label>
            <div class="issue-container">
              <div class="form-check d-flex mb-2 " *ngFor="let issue of issues">
                <div>
                  <input class="form-check-input"  name="{{issue.name}}"  type="checkbox" [(ngModel)]="issue.selected"  />
                  <label class="form-check-label">{{ issue.name }}</label>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group">
          <label class="h5 p-4 mx-2" for="comment" >Doctor's Comment:</label>
            <textarea class="form-control" id="comment" rows="3" name="comment" [(ngModel)]="doctorComment"></textarea>
        </div>

        <div style="text-align: center; padding: 10px;">
          <a class="btn btn-secondary" (click)="goBack()" style="width: 100px; margin-right: 25%;">Back</a>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>

    </form>
</div>



