<div class="container my-5" style="height:500px">

<form (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="nationalId" class="form-label">Egyptian National ID:</label>
      <input type="text" class="form-control" id="nationalId" name="nationalId" [(ngModel)]="nationalId" #nationalIdCtrl="ngModel" required>
      <div *ngIf="validationMessage && submitted" class="text-danger">
        Please enter a valid 14-digit Egyptian national ID.
      </div>

    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
  </div>
