

<div class="w-85 mt-5 mx-auto " >
  <h2 class="text-center my-5">View Drugs schedules </h2>

  <div class="alert alert-danger mx-auto w-75" *ngIf="!loadedData">
    Can't Load any Drugs
  </div>

  <div class="alert alert-primary mx-auto w-75" *ngIf="drugs.length < 0">
    Patient not have any drugs
  </div>

  <table class="table" *ngIf="loadedData">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Dosage</th>
        <th scope="col">Times Per Day</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drug of drugs" class="pb-3 ">
        <th scope="row">{{ drug.name}}</th>
        <td>
          {{ drug.startDate | date:'yyyy/MM/dd' }}
        </td>
        <td>{{ drug.endDate | date:'yyyy/MM/dd' }}</td>
        <td>{{ drug.dosage }}</td>
        <td>{{ drug.timesPerDay }}</td>
      </tr>
    </tbody>
  </table>

</div>

