<div class="container">
  <h1 class="text-center my-5"> Update Drug </h1>
  <form [formGroup]="editDrug" (ngSubmit)="UpdateDrug()" class="w-75 mx-auto">
    <!-- <div class="form-group mb-4">
      <label for="name">Id</label>
      <input type="text" class="form-control" id="drugId" value="{{ID}}" disabled>
    </div> -->

    <div class="form-group mb-4">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <!-- <div class="form-group">
      <label for="method">Method of taking</label>
      <input type="text" class="form-control" id="method" formControlName="method">
    </div> -->
    <div class="form-group mb-4">
      <label>Method of taking</label>
      <select [(ngModel)]="MethodOfTakingValue" class="form-control" formControlName="methodTaking">
        <option *ngFor="let value of enumValues" [value]="value">{{ value }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary my-3">Update drug</button>
  </form>

</div>
