<div class="mt-5">

  <h1 class="text-center mb-5"> Change Password</h1>
  <form class="mx-auto w-75  form px-3 " #Form = "ngForm" (ngSubmit) = "SubmitData()">

    <div class="alert alert-danger" *ngIf="hasError"> {{errorMessage}}</div>
    <div class="alert alert-success" *ngIf="success">{{successMessage}}</div>

    <!-- * old Password -->
    <div class="m-2 w-50">
      <label for="password" class="form-label">Old Password</label>
      <input #oldPassword="ngModel" [(ngModel)]="data.oldPassword" type="password" class="form-control" id="oldPassword"  name="oldPassword"  required>

      <div [hidden]="oldPassword.untouched || oldPassword.valid" class="text-danger py-1">
        <span [hidden]="!oldPassword.errors?.['required']"> Password is Required <br></span>
        <span [hidden]="!oldPassword.errors?.['pattern']"> Password is too short! It should be more than 8 Characters  </span>
      </div>
    </div>

    <!-- * new Password -->
    <div class="m-2 mt-5 w-50">
      <label for="password" class="form-label">New Password</label>
      <input #newPassword="ngModel" [(ngModel)]="data.newPassword" type="password" class="form-control" id="newpassword"  name="newPassword"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}" required>

      <div [hidden]="newPassword.untouched || newPassword.valid" class="text-danger py-1">
        <span [hidden]="!newPassword.errors?.['required']"> Password is Required <br></span>
        <span [hidden]="!newPassword.errors?.['pattern']"> Password is too short! It should be more than 8 Characters  </span>
      </div>
    </div>
    <button
      [disabled]="Form.invalid"
      type="submit"
      class="btn btn-primary float-end btn-submit px-4"

    > Submit</button>

  </form>
</div>
